<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Le Voice nursery</title>
    <link rel="icon" type="image/x-icon" href="../static/images/icon.png">
    <!--Link to CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/style.css" rel="stylesheet" />

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
      <script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
      <script type="text/javascript" charset="utf-8">
          var socket;
          $(document).ready(function(){
              socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/room');
              socket.on('connect', function() {
                  socket.emit('join', {});
              });
              socket.on('disconnect', function(data) {
                socket.emit('left', {});
              });
              socket.on('status', function(data) {
                  $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                  $('#chat').scrollTop($('#chat')[0].scrollHeight);
              });
              socket.on('message', function(data) {
                  $('#chat').val($('#chat').val() + data.msg + '\n');
                  $('#chat').scrollTop($('#chat')[0].scrollHeight);
              });
              socket.on('score', function(data) {
                  $('#leaderboard').empty();
                  for (const [key, value] of Object.entries(data)) {
                     $('#leaderboard').prepend("<p>Username: " + key + ". Score: " + value + "</p>");
                     continue;
                  }
              });
              socket.on('result', function(data) {
                  result_type = data["type"];
                  result_val = data["result"];
                  if (result_type == "submitter") $('#submitter-score').html(result_val);
                  if (result_type == "author") $('#author-score').html(result_val);

                  console.log(data);
              });
              socket.on('stream-change', function(data) {
                  link = data["link"];
                  document.getElementById('stream').src = link;
              });
              socket.on('redirect', function(data) {
                  socket.disconnect();
                  // go back to the login page
                  window.location.href = "{{ url_for('index') }}";
              });
              $('#send').click(function(e) {
                  text = $('#text').val();
                  if (!text) return;
                  $('#text').val('');
                  socket.emit('text', {msg: text});
              });
              $('#author-submit').click(function(e) {

                  if (!text) return;
                  $('#author-input').val('');
                  socket.emit('prediction', {prediction: text, type: "author"});
              });
              $('#prediction-submit').click(function(e) {
                  submitter = $('#submitter-input').val();
                  author = $('#author-input').val();
                  if (!submitter || !author) {
                      alert("Both submitter and author must be present :3");
                  };
                  $('#submitter-input').val('');
                  $('#author-input').val('');
                  socket.emit('prediction', {author: author, submitter: submitter});
              });
              $('#okak').click(function(e) {
                  socket.emit('text', {msg: 'okak'});
              });
              $('#wowie').click(function(e) {
                  socket.emit('text', {msg: 'wowie'});
              });
              $(this).find('input').keypress(function(e) {
                  // Enter pressed?
                  if(e.which == 10 || e.which == 13) {
                      text = $('#text').val();
                      if (!text) return;
                      $('#text').val('');
                      socket.emit('text', {msg: text});
                  }
              });
          });
          function leave_room() {
              socket.emit('left', {}, function() {
                  socket.disconnect();
                  // go back to the login page
                  window.location.href = "{{ url_for('index') }}";
              });
          }
      </script>
  </head>

<body class="text-center">


<div class="container">
  <h2 class="h4 mb-0 text-shadow" style="line-height: 0.5;">LeVoice's</h2>
  <h1 class="h2 text-shadow">Guess The Song!</h1>

  <div class="row">
    <div class="col-xl-2 col-min-width-300px py-4">
      <h3 class="h5 text-shadow text-left">Score Board</h3>
      <div id="leaderboard" class="mb-3">
        Waiting for socketio to establish connection...
      </div>

        <div class="bg-white-transparent mb-4 p-2">
          <div class="person_div">
            <div class="person_name">yeo</div>
            <div class="person_score">69</div>
        </div>

        <div class="person_div">
            <div class="person_name">yeo</div>
            <div class="person_score">69</div>
        </div>
      </div>

      <div><button type="button" class="btn btn-danger button-leave-game" onclick=leave_room()>LEAVE GAME <span class="button_arrow">></span></button></div>
    </div>
    <div class="col-xl-8 col-min-width-100p-600px py-4 mt-5">
      <div class="mb-3">
        <iframe src="" id="stream" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;"></iframe>
      </div>
      <div class="bg-white-transparent">
        <div class="row">
          <div class="col-md-6 py-3 px-5 text-left">
            <p class="font-weight-light">Guess the song title, artist and the song submitter to earn points! You have three attempts to find the correct answer. Good luck!</p>

            <div><p class="mb-0">Song title and Artist (2 points)</p>
              <input class="w-100 mb-3 input_enter" type="text" id="author-input" placeholder="Enter author & song name " autocomplete="off">
            </div>
            <div>
              <p class="mb-0">Submitter (3 points)</p>
              <input class="w-100 mb-3 input_enter" type="text" id="submitter-input" placeholder="Enter submitter" autocomplete="off">
            </div>
            <div><button class="w-100" type="button" id="prediction-submit">SEND <i>(3 Attempts left)</i></button></div>
          </div>

          <div class="col-md-6 px-4">
            <h4 class="h4">~ Your guesses ~</h4>

            <div class="guess">
              <div class="guess_number number_0">0</div>
              <div class="guess_name">Paula Carolina - Schreien!</div>
              <div class="guess_person">Fluffy</div>
            </div>

            <div class="guess">
              <div class="guess_number number_1">1</div>
              <div class="guess_name">Paula Carolina - Schreien!</div>
              <div class="guess_person">Fluffy</div>
            </div>

            <div class="guess">
              <div class="guess_number number_2">2</div>
              <div class="guess_name">Paula Carolina - Schreien!</div>
              <div class="guess_person">Fluffy</div>
            </div>

            <div class="guess">
              <div class="guess_number number_3">3</div>
              <div class="guess_name">Paula Carolina - Schreien!</div>
              <div class="guess_person">Fluffy</div>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="col-xl-2 col-min-width-300px py-4">
      <h3 class="h5 text-shadow text-left">Le Chat</h3>
      <div class="bg-white-transparent mb-3">
        <textarea id="chat" placeholder="Waiting for socketio to establish connection..." readonly style="resize: none;"></textarea>
        <input class="full" type="text" id="text" placeholder="Enter your message here" autocomplete="off">
      </div>
        <div class="container-grid bg-white-transparent">
          <button><img class="emo-ticon" src="static/images/smile.webp"></button>
          <button><img class="emo-ticon" src="static/images/smile.webp"></button>
          <button><img class="emo-ticon" src="static/images/smile.webp"></button>
          <button><img class="emo-ticon" src="static/images/smile.webp"></button>
          <button><img class="emo-ticon" src="static/images/smile.webp"></button>
          <button><img class="emo-ticon" src="static/images/smile.webp"></button>
          <button><img class="emo-ticon" src="static/images/smile.webp"></button>
          <button><img class="emo-ticon" src="static/images/smile.webp"></button>
          <button><img class="emo-ticon" src="static/images/smile.webp"></button>
          <button><img class="emo-ticon" src="static/images/smile.webp"></button>
          <button><img class="emo-ticon" src="static/images/smile.webp"></button>
          <button><img class="emo-ticon" src="static/images/smile.webp"></button>
          <button><img class="emo-ticon" src="static/images/smile.webp"></button>
          <button><img class="emo-ticon" src="static/images/smile.webp"></button>
          <button><img class="emo-ticon" src="static/images/smile.webp"></button>
      </div>
    </div>
  </div>
</div>
  </body>
</html>