<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Le Voice nursery</title>
    <link rel="icon" type="image/x-icon" href="../static/images/icon.png">
    <!--Link to CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/style.css" rel="stylesheet" />

    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
      <script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
      <script type="text/javascript" charset="utf-8">
          var socket;
          $(document).ready(function(){
              socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + '/room');
              socket.on('connect', function() {
                  socket.emit('join', {});
              });
              socket.on('disconnect', function(data) {
                socket.emit('left', {});
              });
              socket.on('status', function(data) {
                  $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                  $('#chat').scrollTop($('#chat')[0].scrollHeight);
              });
              socket.on('message', function(data) {
                  $('#chat').val($('#chat').val() + data.msg + '\n');
                  $('#chat').scrollTop($('#chat')[0].scrollHeight);
              });
              socket.on('score', function(data) {
                  $('#leaderboard').empty();
                  for (const [key, value] of Object.entries(data)) {
                     $('#leaderboard').prepend("<p>Username: " + key + ". Score: " + value + "</p>");
                  }

<!--                  $('#admin-leaderboard').empty();-->
                  $('#admin-leaderboard').val(JSON.stringify(data, null, 2));
              });
              socket.on('result', function(data) {
                  result_type = data["type"];
                  result_val = data["result"];
                  if (result_type == "submitter") $('#submitter-score').html(result_val);
                  if (result_type == "author") $('#author-score').html(result_val);
              });
              socket.on('stream-change', function(data) {
                  link = data["link"];
                  document.getElementById('stream').src = link;
              });
              $('#send').click(function(e) {
                  text = $('#text').val();
                  if (!text) return;
                  $('#text').val('');
                  socket.emit('text', {msg: text});
              });
              $('#change-leaderboard').click(function(e) {
                  text = $('#admin-leaderboard').val();
                  if (!text) return;
                  socket.emit('leaderboard-change', {data: text});
              });
              $('#change-stream').click(function(e) {
                  text = $('#stream-link').val();
                  if (!text) return;
                  socket.emit('stream-change', {link: text});
              });
              $('#default-stream').click(function(e) {
                  socket.emit('stream-change', {link: "default"});
              });
              $('#author-submit').click(function(e) {
                  text = $('#author-input').val();
                  if (!text) return;
                  $('#author-input').val('');
                  socket.emit('prediction', {prediction: text, type: "author"});
              });
              $('#submitter-submit').click(function(e) {
                  text = $('#submitter-input').val();
                  if (!text) return;
                  $('#submitter-input').val('');
                  socket.emit('prediction', {prediction: text, type: "submitter"});
              });
              $('#okak').click(function(e) {
                  socket.emit('text', {msg: 'okak'});
              });
              $('#wowie').click(function(e) {
                  socket.emit('text', {msg: 'wowie'});
              });
              $(this).find('input').keypress(function(e) {
                  // Enter pressed?
                  if(e.which == 10 || e.which == 13) {
                      text = $('#text').val();
                      if (!text) return;
                      $('#text').val('');
                      socket.emit('text', {msg: text});
                  }
              });
          });
          function leave_room() {
              socket.emit('left', {}, function() {
                  socket.disconnect();
                  // go back to the login page
                  window.location.href = "{{ url_for('index') }}";
              });
          }
      </script>
  </head>

<body class="text-center">


<div>
  <div class="row">
      <div class="w-20"></div>
      <div class="w-50"><input class="full" type="text" id="stream-link" placeholder="Place stream link: https://vdo.ninja/" autocomplete="off"></div>
      <div class="w-5"><button class="full" type="button" id="change-stream">start</button></div>
      <div class="w-5"><button class="full" type="button" id="default-stream">stop</button></div>
      <div class="w-20"></div>
  </div>

  <div class="row">
    <div class="col-2" style="min-height: 80vh;" id="leaderboard">
      Waiting for socketio to establish connection...
    </div>
    <div class="col-8" style="min-height: 80vh;">
      <div class="row h-80">
        <iframe src="" id="stream" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;"></iframe>
      </div>
      <div class="row h-20">
        <div class="col-4">
          <div class="row h-20"><button class="full" type="button" id="change-leaderboard">change leaderboard</button></div>
          <div class="row h-80"><textarea class="full" id="admin-leaderboard" placeholder="waiting for leaderboard..." autocomplete="off"></textarea></div>
        </div>
        <div class="col-8" id="submission-queue">submissions queue here</div>
      </div>
    </div>
    <div class="col-2" style="min-height: 80vh;">
      <div class="row h-95"><textarea id="chat" placeholder="Waiting for socketio to establish connection..." readonly style="resize: none;"></textarea></div>
      <div class="row h-5">
        <div class="w-80"><input class="full" type="text" id="text" placeholder="Enter your message here" autocomplete="off"></div>
        <div class="w-20"><button class="full" type="button" id="send">send</button></div>
      </div>
    </div>
  </div>
</div>

  </body>
</html>