<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Le Voice nursery</title>
    <link rel="icon" type="image/x-icon" href="../static/images/icon.png">
    <!--Link to CSS -->
    <link href="../static/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/style.css" rel="stylesheet" />

    <!-- Icons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <!-- Jquery and Custom code -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdn.socket.io/4.4.1/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='js/room.js') }}" charset="utf-8"></script>
  </head>

<body class="text-center">
<div class="container">
  <h2 class="h4 mb-0 text-shadow" style="line-height: 0.5;">LeVoice's</h2>
  <h1 class="h2 text-shadow" style="margin-bottom: -53px">Guess The Song!</h1>

  <div class="row">
    <div class="col-xl-2 col-min-width-300px py-4">
      <h3 class="h5 text-shadow text-left">Score Board</h3>

      <div class="bg-white-transparent mb-4 p-2" id="leaderboard">
        Waiting for socketio to establish connection...

<!--        Example -->
<!--        <div class="person_div">-->
<!--          <div class="username">yeo</div>-->
<!--          <div class="person_score">69</div>-->
<!--        </div>-->

      </div>

      <div><button type="button" class="btn btn-danger button-leave-game" onclick=leave_room()>LEAVE GAME <span class="button_arrow">></span></button></div>
    </div>
    <div class="col-xl-8 col-min-width-100p-600px py-4 mt-5">
      <div class="mb-3">
        <iframe src="" id="stream" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;"></iframe>
      </div>
      <div class="bg-white-transparent" id="submit-menu">
        <div class="row">
          <div class="col-md-6 py-3 px-5 text-left">
            <p class="font-weight-light">Guess the song title, artist and the song submitter to earn points! You have limited attempts to find the correct answer. Good luck!</p>

            <div><p class="mb-0">Song title and Artist (2 points)</p>
              <input class="w-100 mb-3 input_enter" type="text" id="author-input" placeholder="Enter author & song name " autocomplete="off">
            </div>
            <div>
              <p class="mb-0">Submitter (3 points)</p>
              <input class="w-100 mb-3 input_enter" type="text" id="submitter-input" placeholder="Enter submitter" autocomplete="off" list="submitters">
              <datalist id="submitters">
                {% for username in possible_submitters %}
                   <option>{{username}}</option>
                {% endfor %}
              </datalist>
            </div>
            <div><button class="w-100" type="button" id="prediction-submit">SEND <i>(? Attempts left)</i></button></div>
          </div>

          <div class="col-md-6 px-4" id="user-submissions">
            Waiting for socketio to establish connection...

<!--            <h4 class="h4">~ Examples ~</h4>-->

<!--            <div class="guess">-->
<!--              <div class="guess_number number_unk">?</div>-->
<!--              <div class="guess_name">Paula Carolina - Schreien!</div>-->
<!--              <div class="guess_person">Fluffy</div>-->
<!--            </div>-->

<!--            <div class="guess">-->
<!--              <div class="guess_number number_0">0</div>-->
<!--              <div class="guess_name">Paula Carolina - Schreien!</div>-->
<!--              <div class="guess_person">Fluffy</div>-->
<!--            </div>-->

<!--            <div class="guess">-->
<!--              <div class="guess_number number_1">1</div>-->
<!--              <div class="guess_name">Paula Carolina - Schreien!</div>-->
<!--              <div class="guess_person">Fluffy</div>-->
<!--            </div>-->

<!--            <div class="guess">-->
<!--              <div class="guess_number number_2">2</div>-->
<!--              <div class="guess_name">Paula Carolina - Schreien!</div>-->
<!--              <div class="guess_person">Fluffy</div>-->
<!--            </div>-->

<!--            <div class="guess">-->
<!--              <div class="guess_number number_3">3</div>-->
<!--              <div class="guess_name">Paula Carolina - Schreien!</div>-->
<!--              <div class="guess_person">Fluffy</div>-->
<!--            </div>-->

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-min-width-300px py-4">
      <h3 class="h5 text-shadow text-left">Le Chat</h3>
      <div class="bg-white-transparent mb-3">
        <div id="chat" style="resize: none;overflow-y: scroll;text-align:left;overflow-x: hidden;" >
<!--            <div class="chat-message" id="msg_qwerty">-->
<!--              <span class="username" style="color: orange">CuteFluffyFox:</span>-->
<!--			  <span class="message">This is so wowie holy moly <img class="emo-ticon" src="static/images/smile.webp"> this is real</span>-->
<!--            </div>-->
<!--			<div class="chat-message">-->
<!--              <span class="username" style="color: lime">Layla:</span>-->
<!--			  <span class="message">Fluffy is a cutie<img class="emo-ticon" src="static/images/smile.webp">and you know it </span>-->
<!--            </div>-->
        </div>
		
		
        <input class="full" type="text" id="text" placeholder="Enter your message here" autocomplete="off">
      </div>
        <div class="container-grid bg-white-transparent">
          {% for emote in emotes %}
            <button><img class="emo-ticon" src="{{ emote['link'] }}" title="{{ emote['keyword'] }}"></button>
          {% endfor %}
      </div>
    </div>
  </div>
</div>

<!--chat moderation pop-up window-->
<div id="chat-context-menu" style="display: none;">
  <button id="chat-delete-single"><ion-icon name="trash"></ion-icon></button>
  <button id="chat-delete-all"><ion-icon name="skull"></ion-icon></button>
  <button id="chat-mute-user"><ion-icon src="{{ url_for('static', filename='images/mute.svg') }}"></ion-icon></button>
</div>


<!--user moderation pop-up window-->
<div id="user-context-menu" style="display: none;">
<!--    {% for permission in permissions %}-->
<!--      {% if permission not in ["is_online", "is_on_the_leaderboard"] %}-->
<!--        <button>{{ permission }} : {{ "yes" if permissions[permission] else "no" }} </button>-->
<!--      {% endif %}-->
<!--    {% endfor %}-->
</div>


<script src="{{ url_for('static', filename='js/context-menu.js') }}" charset="utf-8"></script>

</body>
</html>